.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--badges);
}

.headerContainer {
  border-bottom: 1px solid var(--badges);
  padding: 24px 0px;
  min-height: 68px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
}

.logoLink {
  display: flex;
  align-items: center;
}

.logoSvg {
  display: flex;
  align-items: center;
}

.navContainer {
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.navItem {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}

.navLink {
}

.navItem:hover,
.navItem:focus {
  color: var(--button-hover);
}
