.wrapper {
  position: relative;
  display: inline-block;
}
.input {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  height: 48px;
  background: var(--inputs);
  outline: none;
  border: none;
}

:global(.react-datepicker-wrapper) {
  width: 100%;
}

:global(.react-datepicker__input-container) {
  width: 100%;
}

:global(.react-datepicker__input-container input) {
  width: 100%;
  display: block;
}

:global(.react-datepicker) {
  border: 1px solid var(--button);
  font-family: var(--second-family);
}

:global(.react-datepicker__navigation-icon) {
  top: 4px;
}

:global(.react-datepicker__day) {
  border-radius: 32px;
  text-align: center;
}

:global(.react-datepicker__day--selected) {
  border-radius: 32px;
  background: var(--button);
  text-align: center;
  color: var(--inputs);
}

:global(.react-datepicker__day--selected:hover) {
  border-radius: 32px !important;
}

:global(.react-datepicker__day:hover) {
  border-radius: 32px !important;
}

:global(.react-datepicker__day--outside-month) {
  color: var(--gray) !important;
}
