.section {
}

.carList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 32px;
}

.carItem {
  display: flex;
  flex-direction: column;
  width: calc((100% - 96px) / 4);
  height: 424px;
  position: relative;
}

.image {
  border-radius: 14px;
  margin-bottom: 16px;
  width: 276px;
  height: 268px;
  object-fit: cover;
}

.infoBlock_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.brandBlock {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.model {
  color: var(--button);
}

.rentalPrice {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.infoBlock_2 {
  margin-bottom: 28px;
}

.address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  /* padding: 12px 99px; */
  width: 100%;
  height: 44px;
  background-color: var(--button);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  margin-top: auto;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}

.favoriteButton {
  top: 16px;
  right: 16px;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: aliceblue;
}

.favoriteIcon {
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: var(--white);
  stroke-width: 1.5;
  transition: all 0.2s ease;
}

.favoriteIcon.active {
  fill: var(--button);
  stroke: var(--button);
}

/* Styles for Tablet devices */
@media screen and (max-width: 1439px) {
  .carList {
    row-gap: 42px;
    column-gap: 24px;
  }

  .carItem {
    width: calc((100% - 48px) / 3);
  }

  .image {
    width: 100%;
  }
}

/* Styles for Mobile devices */

@media screen and (max-width: 767px) {
  .carList {
    display: flex;
    flex-direction: column;
  }

  .carItem {
    width: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
  }
}
