:root {
  /* ==============Colors================= */

  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;

  /* ==============Fonts================= */
  --font-manrope: 'Manrope', sans-serif;
  --font-family: 'Manrope', sans-serif;
}

html,
body {
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  min-height: 100%;
  line-height: 125%;
  background-color: var(--white);
  color: var(--main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  flex: 1;
}

/* ===============Container==================== */
/* Styles for Desktop devices */
.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}

/* Styles for Tablet devices */
@media screen and (max-width: 1439px) {
  .container {
    max-width: 768px;
    padding: 0 56px;
  }
}

/* Styles for Mobile devices */

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 375px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
}
