.title {
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
}

.heroSection {
  position: relative;
  height: calc(100dvh - 68.8px);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #475467;
  background-image: url('/images/Hero/Hero-1x-min.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

@media (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) {
  .background {
    background-image: url('/images/Hero/Hero-2x-min.jpg');
  }
}

.heroContainer {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 783px;
  min-height: 204px;
  align-items: center;
  justify-content: end;
  margin-top: auto;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
}

.text {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--white);
}

.button {
  border-radius: 12px;
  padding: 12px 99px;
  min-width: 276px;
  height: 44px;
  background-color: var(--button);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}
