/* Styles for Desktop devices */
.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}

/* Styles for Tablet devices */
@media screen and (max-width: 1439px) {
  .container {
    max-width: 768px;
    padding: 0 56px;
  }
}

/* Styles for Mobile devices */

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 375px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
}
